.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 844px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 704px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 45px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 107px 138px 0 0;
}

.u-section-1 .u-form-1 {
  height: 268px;
  margin: 55px 8px 0 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 704px;
}

.u-section-1 .u-image-1 {
  min-height: 488px;
  width: 596px;
  background-image: url("staic/images/bckground.jpg");
  background-position: 50% 50%;
  margin: 186px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 596px;
  height: 547px;
  margin: -186px auto 0 -115px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 35px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-1 .u-form-1 {
    width: 281px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    width: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 215px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 476px;
  }

  .u-section-1 .u-image-1 {
    width: 445px;
  }

  .u-section-1 .u-image-2 {
    width: 415px;
    height: 381px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 330px;
    height: 303px;
  }
}